.App {
  text-align: center;
}

.header-logo {
  height: 45px;
}

.container {
  padding-top: 50px;
  max-width: 1100px;
  margin: 0 auto;
}

.subtitle-text {
  font-size: 20px;
  margin-bottom: 60px;
}

.ant-input {
  max-width: 600px;
}
